{% extends 'backend.html.twig' %}


{% block sidenavbar %}
 <div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true" data-img="theme-assets/images/backgrounds/02.jpg">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto"><a class="navbar-brand" href="index.html"><img class="brand-logo" alt="Chameleon admin logo" src="{{ asset('theme-assets/images/logo/hypocampus.png') }}"/>
                        <h3 class="brand-text">Hypocampus</h3></a></li>
                <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
            </ul>
        </div>
 </div>
    {% endblock %}
{% block body %}
    <div class="app-content content">
        <div class="content-wrapper">

            <div class="content-body"><!-- Chart -->
                <div class="row">
                    <div class="col-12">
                        <div class="">
                            <div id="gradient-line-chart1" class="height-250 GradientlineShadow1"></div>
                        </div>
                    </div>
                </div>
                <!-- Chart -->
                <!-- eCommerce statistic -->
                <div class="row">

                </div>
                <!--/ eCommerce statistic -->

                <!-- Statistics -->
                <div class="row match-height">

                </div>
                <div id="div_chart"></div>
                <!--/ Statistics -->
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    {% endblock %}
{% block script %}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



    <script type="text/javascript">
        {{ gc_draw(piechart, 'div_chart') }}
    </script>
    <!-- END PAGE LEVEL JS-->
{% endblock %}