<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    {% block head %}{% endblock %}
</head>

<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-chartbg" data-col="2-columns">

{% block topnavbar %}{% endblock %}
{% block sidenavbar %}{% endblock %}
{% block body %}{% endblock %}
{% block footer %}{% endblock %}
{% block script %}{% endblock %}
</body>
</html>
