


{% extends 'backend.html.twig' %}

{% block body %}



    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-wrapper-before"></div>

            <div class="content-body">

                <div class="content-header ">
                    <h4 class="card-title" id="basic-layout-icons">Créer un Projet</h4>
                    <a class="heading-elements-toggle">
                        <i class="la la-ellipsis-v font-medium-3"></i>
                    </a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li>
                                <a data-action="collapse">
                                    <i class="ft-minus"></i>
                                </a>
                            </li>
                            <li>
                                <a data-action="reload">
                                    <i class="ft-rotate-cw"></i>
                                </a>
                            </li>
                            <li>
                                <a data-action="expand">
                                    <i class="ft-maximize"></i>
                                </a>
                            </li>
                            <li>
                                <a data-action="close">
                                    <i class="ft-x"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="content-wrapper-before"></div>
                <div class="content-header row">
                    <div class="content-header-left col-md-4 col-12 mb-2">
                        <h3 class="content-header-title">Type of backlog</h3>
                    </div>
                    <div class="content-header-right col-md-8 col-12">
                        <div class="breadcrumbs-top float-md-right">
                            <div class="breadcrumb-wrapper mr-1">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active">Cards
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>

                <section id="header-footer">
                    <div class="row match-height">
                        <div class="col-lg-4 col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Project Backlog</h4>
                                    <h6 class="card-subtitle text-muted"></h6>
                                </div>
                                <img class="" src="{{ asset('images/book-lightbulb.svg') }}" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">Le backlog du project globale ou vous aurez une vue globale sur toutes les fonctionnalitées et taches.</p>
                                    <div class="form-group">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                            <a href="{{ path('index_ProjectBacklog') }}"><button type="button" class="btn mr-1 mb-1 btn-success btn-sm">Index</button></a>

                                            <a href="{{ path('create_ProjectBacklog') }}"> <button type="button" class="btn mr-1 mb-1 btn-danger btn-sm">Créer</button></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
                                    <span class="float-left">3 hours ago</span>
                                    <span class="float-right">
					</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Sprint Backlog</h4>
                                    <h6 class="card-subtitle text-muted"> </h6>
                                </div>
                                <img class="" src="{{ asset('images/building-blocks.svg') }}" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">Le backlog relié au Sprint ou vous aurez une vue spécifique sur les taches a faire pour vous et votre équipe.</p>
                                    <div class="form-group">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                            <button type="button" class="btn mr-1 mb-1 btn-success btn-sm">Index</button>
                                            <button type="button" class="btn mr-1 mb-1 btn-danger btn-sm">Créer</button>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
                                    <span class="float-left">1 day ago</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


            </div>
        </div>
    </div>
{%endblock%}
{% block footer %}

{% endblock %}